<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="molina.raul.aquareminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquaReminder">
        <activity
            android:name="molina.raul.aquareminder.RecipienteActivity"
            android:exported="false" />
        <activity
            android:name="molina.raul.aquareminder.RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name="molina.raul.aquareminder.InicioSesionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name="molina.raul.aquareminder.MainActivity"
            android:exported="false"
            android:label="@string/app_name">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>